* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
a {
  color: var(--aFontColor);
  text-decoration: none;
}
body, .gridEle {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-auto-flow: column;
}
body {
  background-color: var(--lightColor);
  color: var(--fontColor);
  grid-template-columns: 16rem auto;
  grid-template-rows: auto;
  width: 100%;  height: 100%;
}
.scrollBox {
  overflow-y: auto;
}
.scrollX, .scrollY {
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  position: relative;
}
.scrollX {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollY {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollXChild {
  display: inline-block;
  scroll-snap-align: center;
}
.Lǎnchē {
  /*position: relative;*/
}
.buttonBlock {
  position: relative;
}
img {
  position: relative;
  width: 300px;
  z-index: 0;
}
#imgBox00 {
  width: 300px;  height: 350px;
}
#labelNaviSideBar {
  line-height: 3rem;
  transform: translateX(1rem);
}
#naviSideBar, #naviSideBarFixed {
  background-color: var(--lightColorLite);
  width: 16rem;
}
#naviSideBar {
  border-right: .01px solid var(--highlightColor);
  z-index: 1;
}
#naviSideBarIn {
  grid-template-rows: 3.5rem auto;
  overflow-y: auto;
  height: 100%;  max-height: 768px;
}
#naviSideBarFixed {
  grid-template-columns: auto 3rem 3rem;
  position: fixed;
  height: 3rem;
}
#container {
  grid-template-rows: 3.5rem auto 3.5rem;
  grid-row-gap: 0rem;
  width: 100%;  height: 100%;
}
#naviBar {
  grid-template-columns: auto 7rem 1rem auto;
  grid-template-rows: 2.2rem;
  padding-top: 0.4rem;  padding-bottom: 0.4rem;
  position: fixed;
  top: 0;
  height: auto;
}
#labelNaviSideBar, #naviSideBar, #container, #b1, #b2 {
  transition: .15s ease-in-out;
}
#b1 {
  background-color: var(--makeDarkColor);
  border: .01px solid var(--makeLightColor);
  border-radius: .5rem;
  grid-template-columns: 2.2rem auto;
  grid-template-rows: 2.2rem;
  overflow: hidden;
  width: 6.5rem;  height: 2.2rem; 
}
#b2 {
  color: var(--fontColor);
  white-space: nowrap;
}
#container, #Electrodew, #searchBox {
  position: relative;
}
#Electrodew {
  background: var(--ElectrodewLogo);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  border-radius: .5rem;
  margin: .35rem;
  width: 1.5rem;  height: 1.5rem;
}
#labelNaviSideBar, #searchCheckBox, #searchBoxIn {
  display: inline-block;
  position: fixed;
  z-index: 2;
}
#searchBoxIn {
  opacity: .9;
  overflow-y: auto;
  left: 0;  top: 3rem;
  width: 100%;  max-height: 16rem;
}
#content {
  grid-template-columns: auto 90% auto;
  width: 100%;
}
#contentIn {
  /*max-width: 48rem;*/
}
#naviBar, #naviA {
  width: 100%;
}
#naviSideBarFixed:after, #naviA:after, #naviBar:after {
  background-color: var(--lightColorLite);
  content: '';
  -webkit-backdrop-filter: blur(1.6rem) contrast(1.01);
  position: absolute;
  z-index: -1;
  width: 100%;  height: 3rem;
}
#naviA {
  grid-template-columns: auto 90% auto;
  grid-template-rows: 2.2rem;
  position: fixed;
  bottom: 0;
  padding-top: 0.4rem;  padding-bottom: 0.4rem;
  height: auto;
}
a:hover, #labelNaviSideBar:hover, #b1:hover, #b2:hover {
  transition: .05s ease-in-out;
}
#naviSideBarIn {
  transition: .5s ease-in-out;
}
#b1:hover {
  background-color: var(--highlightColor);
}
a:hover, #labelNaviSideBar:hover, #b2:hover {
  opacity: .6;
}
#b2, #searchP {
  line-height: 2.2rem;
}
#XP {
  line-height: 2rem;
}
#naviSideBarCheckBox, #searchCheckBox:checked+#searchP+#XP+#searchBoxIn, #searchCheckBox, #searchP, #searchCheckBox:checked+#searchP+#XP {
  display: none;
}
#searchCheckBox:checked+#searchP, #XP {
  display: inline-block;
}
#naviSideBarCheckBox:checked<body {
  grid-template-columns: auto;
}
#naviSideBarCheckBox:checked+#labelNaviSideBar {
  transform: translateX(.6rem);
}
#naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar {
  overflow: none;
  transform: translateX(-16rem);
}
#naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar>#naviSideBarIn {
  transform: translateX(-8rem);
  opacity: 0;
}
#DroidBtnL {

}
#DroidBtn, #DroidBtnH {
  transition: .5s ease-in-out;
  position: absolute;
  width: 10rem;  height: 3rem;
  min-width: 3rem;
}
#DroidBtn {
  border: 1px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  padding: .14rem;
  left: 0;
}
#DroidBtnH, #DroidBtnU {
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}
#DroidBtnU {
  background-color: var(--highlightColor);
  border-radius: 100%;
  transition: .3s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 2.5rem;  height: 2.5rem;
}
#DroidBtn:hover {
  background-color: var(--highlightColor);
  border: .01px solid var(--makeDarkColor);
  transition: .1s ease-in-out;
  opacity: 1;
  padding: calc(.14rem + .09px) ;
}
#DroidBtnU:active {
  transform: scale(5);
  opacity: 1;
}
@media screen and (orientation: portrait) {
  #naviSideBar {
    -webkit-backdrop-filter: blur(1.6rem) contrast(1.01);
    position: fixed;
    height: 100%;
  }
}
@media screen and (orientation: landscape) {
  body, #naviBar, #naviA, #searchBoxIn {
    width: calc(100% - 16rem) ;
  }
  #searchBoxIn {
    left: 16rem;
  }
  #naviSideBarCheckBox:checked<body {
    grid-template-columns: auto;
    width: calc(100% + 16rem) ;
  }
  #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container {
    overflow: none;
    transform: translateX(-16rem);
  }
  #container, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar:after, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar+#topGrid+#content, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar+#topGrid+#content+#naviA, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar+#topGrid+#content+#naviA:after {
    width: calc(100% + 16rem) ;
  }
  #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar>#b0+#b1>#Electrodew+#searchBox>#searchCheckBox+#searchP+#XP+#searchBoxIn {
    left: 0;
    width: calc(100% + 16rem) ;
  }
}
@media screen and (orientation: portrait) and (max-device-width: 768px) {
  #naviSideBarIn {
    height: 32rem;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 480px) {
  #naviSideBarIn {
    height: 16rem;
  }
}
@media screen and (max-device-width: 480px) {
  * {
    font-size: 56px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --lightColor: rgba(0, 0, 0, .87);
    --lightColorLite: rgba(35, 35, 35, .3);
    --highlightColor: rgba(255, 255, 255, .15);
    --contentColor: rgba(0, 0, 0, 1);
    --makeDarkColor: rgba(0, 0, 0, .15);
    --makeLightColor: rgba(255, 255, 255, .1);
    --fontColor: rgba(235, 235, 235, .87);
    --aFontColor: rgba(0, 122, 255, .87);
    --glassOpacity: .7;
    --ElectrodewLogo: url(../images/icons/ElectrodewD192.png);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --lightColor: rgba(235, 235, 235, .87);
    --lightColorLite: rgba(235, 235, 235, .3);
    --highlightColor: rgba(0, 0, 0, .25);
    --contentColor: rgba(255, 255, 255, 1);
    --makeDarkColor: rgba(0, 0, 0, .15);
    --makeLightColor: rgba(255, 255, 255, .1);
    --fontColor: rgba(30, 30, 30, .87);
    --aFontColor: rgba(0, 122, 255, .87);
    --glassOpacity: .7;
    --ElectrodewLogo: url(../images/icons/ElectrodewL192.png);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');