* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
a {
  color: var(--aFontColor);
  text-decoration: none;
}
body, .gridEle {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  /*grid-auto-flow: column;*/
}
body {
  /*background: url(https://i.imgur.com/iyVQmeY_d.webp?maxwidth=640&shape=thumb&fidelity=medium) 0 / cover fixed;*/
  background-color: var(--lightColor);
  color: var(--fontColor);
  grid-template-columns: 16rem auto;
  grid-template-rows: auto;
  width: 100%;  height: 100%;
}
summary {
  cursor: pointer;
}
.symbolChevR {
  background-color: var(--aFontColor);
  -webkit-mask: url(../images/symbols/symbolChevronRight.svg);
  -webkit-mask-size: 1.45rem;
  float: right;
  margin-top: -1.45rem;
  width: 1.45rem;  height: 1.45rem;
}
details[open]>summary>p+.symbolChevR {
  transform: rotate(90deg);
}
summary::-webkit-details-marker, .inputDN {
  display: none;
}
.naviSymbol {
  background-color: var(--aFontColor);
  -webkit-mask-position: center;
  -webkit-mask-size: 1.5rem 1.5rem;
  float: right;
  width: 1.5rem;  height: 1.5rem;
}
#symbolHome {
  -webkit-mask: url(../images/symbols/symbolHome.svg);
  padding-top: 0.75rem;
}
#symbolPhotoOnRectangle {
  -webkit-mask: url(../images/symbols/symbolPhotoOnRectangle.svg);
  padding-top: 0.75rem;
}
#symbolSideBarLeft {
  -webkit-mask: url(../images/symbols/symbolSideBarLeft.svg);
}
.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-user-select: none;
}
.subText {
  color: var(--subFontColor);
  margin-left: 1rem;
}
.scrollBox {
  overflow-y: auto;
}
.scrollX, .scrollY {
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  position: relative;
}
.scrollX {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollY {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollXChild {
  display: inline-block;
  scroll-snap-align: center;
}
.Lǎnchē {
  /*position: relative;*/
  margin: .5rem;
  padding: calc(.5rem - .5px) ;
}
.buttonBlock {
  position: relative;
}
.inTextSymbol {
  background-color: var(--fontColor);
  display: inline-block;
  margin-bottom: -5px;
  width: 1.2rem;  height: 1.2rem;
}
img {
  position: relative;
  width: 300px;
}
#imgBox00 {
  width: 300px;  height: 350px;
}
#labelNaviSideBar, #naviSideBarFixed, #naviBar, #searchCheckBox, #searchBoxIn, #naviA {
  position: fixed;
}
#naviBar, #searchCheckBox, #searchBoxIn, #naviA {
  z-index: 1;
}
#labelNaviSideBar {
  -webkit-mask: url(../images/symbols/symbolSideBarLeft.svg);
  line-height: 3rem;
  transform: translateX(1rem);
  z-index: 4;
  padding-top: 0.75rem;  padding-bottom: 0.75rem;
  width: 1.5rem;  height: 3rem;
}
#naviSideBar, #naviSideBarFixed {
  background-color: var(--lightColorLite);
  width: 16rem;
}
#naviSideBar {
  border-right: .01px solid var(--highlightColor);
  z-index: 2;
}
#naviSideBarIn {
  grid-template-rows: 3.5rem auto;
  overflow-y: auto;
  height: 100%;  max-height: 768px;
}
#naviSideBarFixed {
  grid-template-columns: auto 3rem 3rem;
  z-index: 3;
  height: 3rem;
}
#container {
  grid-template-rows: 3.5rem auto 3.5rem;
  grid-row-gap: 0rem;
  width: 100%;  height: 100%;
}
#naviBar {
  grid-template-columns: auto 7rem 1rem auto;
  grid-template-rows: 2.2rem;
  padding-top: 0.4rem;  padding-bottom: 0.4rem;
  height: auto;
}
a, #A1>#symbolHome, #A3>#symbolPhotoOnRectangle, #labelNaviSideBar, #b1, #b2 {
  transition: .15s ease-in-out;
}
#naviSideBar, #container {
  transition: .35s ease-in-out;
}
.Lǎnchē, #b1 {
  background-color: var(--makeDarkColor);
  border: .01px solid var(--makeLightColor);
  border-radius: .75rem;
}
#b1 {
  grid-template-columns: 2.2rem auto;
  grid-template-rows: 2.2rem;
  overflow: hidden;
  width: 6.5rem;  height: 2.2rem; 
}
#b2 {
  color: var(--fontColor);
  white-space: nowrap;
}
#container, #Electrodew, #searchBox {
  position: relative;
}
#Electrodew {
  background: var(--ElectrodewLogo);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  border-radius: .75rem;
  margin: .35rem;
  width: 1.5rem;  height: 1.5rem;
}
#searchBoxIn {
  opacity: .9;
  overflow-y: auto;
  left: 0;  top: 3rem;
  width: 100%;  max-height: 16rem;
}
#content {
  grid-template-columns: auto 90% auto;
  position: relative;
  width: 100%;
}
#contentIn {
  /*max-width: 48rem;*/
}
#naviBar, #naviA {
  width: 100%;
}
#naviSideBarFixed:after, #naviA:after, #naviBar:after {
  background-color: var(--lightColorLite);
  content: '';
  -webkit-backdrop-filter: blur(1.6rem) contrast(1.01);
  position: absolute;
  z-index: -1;
  width: 100%;  height: 3rem;
}
#naviA {
  grid-template-columns: auto 3.8rem auto 3.8rem auto;
  grid-template-rows: 2.2rem;
  bottom: 0;
  padding-top: 0.4rem;  padding-bottom: 0.4rem;
  height: auto;
}
#A1, #A3 {
  grid-template-columns: 1.5rem auto 2rem;
  line-height: 2.2rem;
}
a:hover, #A1:hover>#symbolHome, #A3:hover>#symbolPhotoOnRectangle, #symbolHome:hover+.Vspacer+#A1a, #symbolPhotoOnRectangle:hover+.Vspacer+#A3a, #labelNaviSideBar:hover, #b1:hover, #b2:hover {
  transition: .05s ease-in-out;
}
#naviSideBarIn {
  transition: .6s ease-in;
}
#b1:hover {
  background-color: var(--highlightColor);
}
a:hover, #A1:hover>#symbolHome, #A3:hover>#symbolPhotoOnRectangle, #symbolHome:hover+.Vspacer+#A1a, #symbolPhotoOnRectangle:hover+.Vspacer+#A3a, #labelNaviSideBar:hover, #b2:hover {
  opacity: .3;
}
#b2, #searchP {
  line-height: 2.2rem;
}
#XP {
  line-height: 2rem;
}
#naviSideBarCheckBox, #searchCheckBox:checked+#searchP+#XP+#searchBoxIn, #searchCheckBox, #searchP, #searchCheckBox:checked+#searchP+#XP {
  display: none;
}
#searchCheckBox:checked+#searchP, #XP {
  display: inline-block;
}
#naviSideBarCheckBox:checked<body {
  /*grid-template-columns: auto;*/
}
#naviSideBarCheckBox:checked+#labelNaviSideBar {
  transform: translateX(.6rem);
}
#naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar {
  border-right: 0px solid var(--highlightColor);
  overflow: none;
  transform: translateX(-16rem);
}
#naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar>#naviSideBarIn {
  transform: translateX(-8rem);
  opacity: 0;
}
.symbolChevR, .DroidBtn, .DroidBtnH, .DroidBtnUIn {
  transition: .3s ease-in-out;
}
.DroidBtn {
  border: .25rem solid rgba(255, 255, 255, 0);
  overflow: hidden;
  position: relative;
  margin: .5rem;
  padding: .25rem;
  width: auto;
}
.DroidBtnH {
  /*line-height: 2.2rem;*/
  text-align: left;
  height: auto;
  min-width: 3rem;
}
.DroidBtnU {
  position: absolute;
}
.DroidBtnUIn {
  background-color: var(--highlightColor);
  border-radius: 100%;
  display: inline-block;
  opacity: 0;
  margin: -.6rem;
  width: 2.5rem;  height: 2.5rem;
}
.DroidBtn:hover {
  background-color: var(--highlightColor);
  border: .01px solid var(--makeDarkColor);
  transition: .1s ease-in-out;
  opacity: 1;
  padding: .5rem;
}
.DroidBtnUIn:active {
  transition: 1s ease-in-out;
  transform: scale(50);
  opacity: 1;
}
.DroidBtn:ontouchstart {
  background-color: red;
}
@media screen and (orientation: portrait) {
  #naviSideBar {
    -webkit-backdrop-filter: blur(1.6rem) contrast(1.01);
    position: fixed;
    height: 100%;
  }
}
@media screen and (orientation: landscape) {
  body, #naviBar, #naviA, #searchBoxIn {
    width: calc(100% - 16rem) ;
  }
  #searchBoxIn {
    left: 16rem;
  }
  #naviSideBarCheckBox:checked<body {
    /*grid-template-columns: auto;*/
    width: calc(100% + 16rem) ;
  }
  #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container {
    overflow: none;
    transform: translateX(-16rem);
  }
  #container, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar+#topGrid+#content, #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar+#topGrid+#content+#naviA {
    width: calc(100% + 16rem) ;
  }
  #naviSideBarCheckBox:checked+#labelNaviSideBar+#naviSideBar+#container>#naviBar>#b0+#b1>#Electrodew+#searchBox>#searchCheckBox+#searchP+#XP+#searchBoxIn {
    left: 0;
    width: calc(100% + 16rem) ;
  }
}
@media screen and (orientation: portrait) and (max-device-width: 768px) {
  #naviSideBarIn {
    height: 32rem;
  }
}
@media screen and (orientation: landscape) and (max-device-width: 480px) {
  #naviSideBarIn {
    height: 16rem;
  }
}
@media screen and (max-device-width: 480px) {
  * {
    font-size: 56px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --lightColor: rgba(0, 0, 0, .87);
    --lightColorLite: rgba(35, 35, 35, .3);
    --highlightColor: rgba(255, 255, 255, .15);
    --contentColor: rgba(0, 0, 0, 1);
    --makeDarkColor: rgba(0, 0, 0, .15);
    --makeLightColor: rgba(255, 255, 255, .1);
    --fontColor: rgba(235, 235, 235, .87);
    --subFontColor: rgba(140, 140, 140, .87);
    --aFontColor: rgba(0, 122, 255, .87);
    --glassOpacity: .7;
    --ElectrodewLogo: url(https://lleftupdownrightbar.github.io/Electrodew/images/icons/ElectrodewD192.png);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --lightColor: rgba(235, 235, 235, .87);
    --lightColorLite: rgba(235, 235, 235, .3);
    --highlightColor: rgba(0, 0, 0, .25);
    --contentColor: rgba(255, 255, 255, 1);
    --makeDarkColor: rgba(0, 0, 0, .15);
    --makeLightColor: rgba(255, 255, 255, .1);
    --fontColor: rgba(30, 30, 30, .87);
    --subFontColor: rgba(125, 125, 125, .87);
    --aFontColor: rgba(0, 122, 255, .87);
    --glassOpacity: .7;
    --ElectrodewLogo: url(https://lleftupdownrightbar.github.io/Electrodew/images/icons/ElectrodewL192.png);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');