/*Must be placed after "simplELayout.css".*/
.popoutBox, .quitAreaBg {
  position: fixed;
}
.popoutBoxIn, #popoutBoxFixed {
  background-color: var(--lightColorLite);
  -webkit-backdrop-filter: blur(1.6rem) contrast(1.01);
}
.popoutBox, .quitAreaBg {
  top: 0;  left: 0;
  width: 100vw;  height: 100vh;
}
.popoutBox {
  z-index: 6;
}
#qA0, #qA3 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.popoutBoxIn {
  border-radius: .75rem;
  filter: drop-shadow(0px 0px 4rem black);
  grid-template-rows: 3rem auto;
  overflow: hidden;
  position: relative;
}
#popoutBoxFixed {
  border-bottom: .01px solid var(--highlightColor);
  border-radius: .75rem .75rem 0 0;
  grid-template-columns: 4.4rem auto 4.4rem;
  grid-template-rows: 3rem;
  z-index: 7;
  width: auto;  height: 3rem;
}
#popoutContent {
  background-color: var(--contentColor);
  border-radius: .75rem;
  margin-top: -3rem;
  width: 100%;
}
#infoCheckBox:checked+#infoBtn+#infoPopout {
  transition: .2s ease-in-out;
  transform: translateY(100vh);
}
.quitAreaBg {
  -webkit-backdrop-filter: brightness(.85) grayscale(100%);
}
#infoCheckBox:checked+#infoBtn+#infoPopout+.quitAreaBg {
  -webkit-backdrop-filter: brightness(1) grayscale(0%);
  width: 0;  height: 0;
}
.quitArea, #infoCheckBox:checked+#infoBtn+#infoPopout>.quitArea+.quitArea+.popoutBoxIn, #infoCheckBox:checked+#infoBtn+#infoPopout>.quitArea+.quitArea+.popoutBoxIn>#popoutBoxFixed {
  transition: .2s ease-in-out;
}
.popoutBox, .popoutBoxIn, #popoutBoxFixed {
  transition: .35s ease-in-out;
}
@media screen and (max-device-width: 1366px) {
  #infoPopout {
    /*grid-template-columns: 11.713030745vw auto 11.713030745vw;*/
    grid-template-rows: 2.9296875vh auto 2.9296875vh;
  }
}
@media screen and (max-device-width: 480px) {
  #infoPopout {
    grid-template-columns: 0 auto 0;
    grid-template-rows: 2.9296875vh auto 0;
  }
}