a, .textBtn {
  color: var(--aFontColor);
  text-decoration: none;
}
body {
  /*background: url(https://i.imgur.com/iyVQmeY_d.webp?maxwidth=640&shape=thumb&fidelity=medium) 0 / cover fixed;*/
  background-color: var(--lightColor);
  color: var(--fontColor);
}
.symbolChevR {
  background-color: var(--aFontColor);
  -webkit-mask: url(../images/symbols/symbolChevronRight.svg);
  -webkit-mask-size: 1.45rem;
}
details[open]>summary>p+.symbolChevR {
  transform: rotate(90deg);
}
.naviSymbol {
  background-color: var(--aFontColor);
  -webkit-mask-position: center;
  -webkit-mask-size: 1.5rem 1.5rem;
}
#symbolHome {
  -webkit-mask: url(../images/symbols/symbolHome.svg);
}
#symbolPhotoOnRectangle {
  -webkit-mask: url(../images/symbols/symbolPhotoOnRectangle.svg);
}
#symbolCircleInfo {
  -webkit-mask: url(../images/symbols/symbolCircleInfo.svg);
}
#symbolCircleEllipsis {
  -webkit-mask: url(../images/symbols/symbolCircleEllipsis.svg);
}
.subText, .subTextNM {
  color: var(--subFontColor);
}
.inTextSymbol {
  background-color: var(--fontColor);
}
a, #A1>#symbolHome, #A3>#symbolPhotoOnRectangle, #b1, #b2, .textBtn, .quitAreaBtn {
  transition: .15s ease-in-out;
}
#naviBar, #container, .Lǎnchē, #naviA, .popoutBox, .popoutBoxIn {
  transition: .35s ease-in-out;
}
.Lǎnchē, #b1, .theMSG {
  background-color: var(--makeDarkColor);
  border: .01px solid var(--makeLightColor);
  border-radius: .75rem;
}
.inputT {
  background-color: var(--lightColorLite);
  border: unset;
  border-radius: .5rem;
  color: var(--fontColor);
}
#b2 {
  color: var(--fontColor);
}
#Electrodew {
  background: var(--ElectrodewLogo);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  border-radius: .75rem;
}
#searchBoxIn {
  opacity: .9;
}
.theMSG {
  border: unset;
}
.theMSGIn, .theMSGInBgN {
  border-radius: 0 0 .73rem .73rem;
}
.theMSGIn {
  background-color: var(--contentColor);
}
.theMSGT, .textBtn {
  font-weight: bold;
}
#msg01 {
  background: url(https://i.imgur.com/mG5tGdC.png);
}
#msg02, #theMSGT02 {
  background: url(https://i.imgur.com/tmsPtRM.jpg);
}
#msg01, #msg02, #theMSGT02 {
  background-repeat: no-repeat;
}
#msg01, #msg02 {
  background-size: cover;
}
#theMSGT01 {
  color: #fff;
}
#theMSGT02 {
  background-size: 11.9rem 6.69375rem;
  background-position: bottom right;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#naviA:after, #naviBar:after, .popoutBoxIn, #popoutBoxFixed {
  background-color: var(--lightColorLite);
  -webkit-backdrop-filter: blur(1.6rem) contrast(1.01);
}
a:hover, #A1:hover>#symbolHome, #A3:hover>#symbolPhotoOnRectangle, #symbolHome:hover+.VSpacer+#A1a, #symbolPhotoOnRectangle:hover+.VSpacer+#A3a, #b2:hover, .textBtn:hover {
  transition: .05s ease-in-out;
  opacity: .3;
}
#b1:hover {
  background-color: var(--highlightColor);
  transition: .05s ease-in-out;
}
.symbolChevR, .DroidBtn, .DroidBtnH, .DroidBtnUIn {
  transition: .3s ease-in-out;
}
.DroidBtn {
  border: .25rem solid rgba(255, 255, 255, 0);
}
.DroidBtnUIn {
  background-color: var(--highlightColor);
  border-radius: 100%;
  opacity: 0;
}
.DroidBtn:hover {
  background-color: var(--highlightColor);
  border: .01px solid var(--makeDarkColor);
  transition: .1s ease-in-out;
  opacity: 1;
  padding: calc(.5rem - .01px) ;
}
.DroidBtnUIn:active {
  transition: 1s ease-in-out;
  transform: scale(50);
  opacity: 1;
}
.DroidBtn:active {
  /*background-color: red;*/
}
.quitAreaBtn {
  background-color: var(--makeDarkColor);
}
.popoutBoxIn {
  box-shadow: 0px 0px 4rem var(--makeDarkColor);
  border-radius: .75rem;
}
#popoutBoxFixed {
  border-bottom: .01px solid var(--highlightColor);
  border-radius: .75rem .75rem 0 0;
}
#popoutContent {
  background-color: var(--contentColor);
  border-radius: .75rem;
}
#infoCheckBox:checked+#infoBtn+#infoPopout>.VSpacer+.quitAreaBtn {
  display: none;
  opacity: 0;
}
#infoCheckBox:checked+#infoBtn+#infoPopout {
  margin-top: 100vh;
}
@media (prefers-color-scheme: dark) {
  :root {
    --lightColor: rgba(0, 0, 0, .87);
    --lightColorLite: rgba(35, 35, 35, .3);
    --highlightColor: rgba(255, 255, 255, .15);
    --contentColor: rgba(0, 0, 0, 1);
    --makeDarkColor: rgba(0, 0, 0, .15);
    --makeLightColor: rgba(255, 255, 255, .1);
    --fontColor: rgba(235, 235, 235, .87);
    --subFontColor: rgba(140, 140, 140, .87);
    --aFontColor: rgba(0, 122, 255, .87);
    --glassOpacity: .7;
    --ElectrodewLogo: url(https://lleftupdownrightbar.github.io/Electrodew/images/icons/ElectrodewD192.png);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --lightColor: rgba(235, 235, 235, .87);
    --lightColorLite: rgba(235, 235, 235, .3);
    --highlightColor: rgba(0, 0, 0, .25);
    --contentColor: rgba(255, 255, 255, 1);
    --makeDarkColor: rgba(0, 0, 0, .15);
    --makeLightColor: rgba(255, 255, 255, .1);
    --fontColor: rgba(30, 30, 30, .87);
    --subFontColor: rgba(125, 125, 125, .87);
    --aFontColor: rgba(0, 122, 255, .87);
    --glassOpacity: .7;
    --ElectrodewLogo: url(https://lleftupdownrightbar.github.io/Electrodew/images/icons/ElectrodewL192.png);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');