* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
body, .gridEle {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  /*grid-auto-flow: column;*/
}
body {
  width: 100vw;  height: 100%;
  max-width: 100vw;
}
header {
  margin-left: calc(5vw + 1rem) ;
}
.headerNarrow {
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-left: 1rem;
}
.headerNM {
  margin: 0;
}
h1 {
  font-size: 2rem;
}
summary {
  cursor: pointer;
}
.symbolChevR {
  float: right;
  margin-top: -1.45rem;
  width: 1.45rem;  height: 1.45rem;
}
summary::-webkit-details-marker, summary::marker, .inputDN {
  content: none;
  display: none;
}
.naviSymbol {
  float: right;
  margin-top: 0.35rem;
  width: 1.5rem;  height: 1.5rem;
}
.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-user-select: none;
}
.subText, .subTextNarrow, .subTextNM {
  font-size: .75rem;
}
.subText {
  margin-left: calc(5vw + 1rem) ;
}
.subTextNarrow {
  margin-left: 1rem;
}
.scrollBox {
  overflow-y: auto;
}
.scrollX, .scrollY {
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  position: relative;
}
.scrollX {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollY {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollXChild {
  display: inline-block;
  scroll-snap-align: center;
}
.Lǎnchē {
  /*background-color: orange;*/
  overflow: hidden;
  position: relative;
  margin: .5rem;
  margin-left: calc(5vw + .5rem) ;  margin-right: calc(5vw + .5rem) ;
  padding: calc(.5rem - .02px) ;
  max-width: calc(90vw - 1rem) ;
}
.buttonBlock {
  position: relative;
}
.inTextSymbol {
  display: inline-block;
  margin-top: 0;  margin-bottom: -5px;
  width: 1.2rem;  height: 1.2rem;
}
#naviBar, #searchCheckBox, #searchBoxIn, #naviA {
  position: fixed;
  z-index: 1;
}
#container {
  grid-template-rows: 3.5rem auto 3.5rem;
  grid-row-gap: 0rem;
  width: 100%;  height: 100%;
}
#naviBar {
  grid-template-columns: auto 7rem 1rem auto;
  grid-template-rows: 2.2rem;
  padding-top: 0.4rem;  padding-bottom: 0.4rem;
  height: auto;
}
.inputT {
  width: 100%;
}
#b1 {
  grid-template-columns: 2.2rem auto;
  grid-template-rows: 2.2rem;
  overflow: hidden;
  width: 6.5rem;  height: 2.2rem;
}
#b2 {
  white-space: nowrap;
}
#container, #Electrodew, #searchBox {
  position: relative;
}
#Electrodew {
  margin: .35rem;
  width: 1.5rem;  height: 1.5rem;
}
#searchBoxIn {
  overflow-y: auto;
  left: 0;  top: 3rem;
  width: 100%;  max-height: 80vh;
}
#content {
  position: relative;
  width: 100%;
}
#contentIn {
  /*max-width: 48rem;*/
}
img {
  position: relative;
  width: 11.9rem;
}
#imgBox00, #msgBox {
  width: 100%;  height: 13.4rem;
  max-width: 100%;
}
#topMSG {
  overflow: hidden;
  position: relative;
}
#msgBox {
  padding-bottom: .5rem;
  height: auto;
}
.theMSG {
  grid-template-rows: auto 2.2rem;
  margin-left: -.825rem;  margin-right: 1rem;
  width: 11.9rem;  height: 6.69375rem;
}
.theMSGBannerS {
  width: 100%;  height: calc(100% - 2.15rem) ;
}
.theMSGIn {
  height: 2.2rem;
}
.theMSGT {
  line-height: 2.2rem;
  text-align: end;
  padding-right: calc(.5rem - .02px) ;
}
.SSpacer {
  display: inline-block;
  width: calc(5vw + 1rem) ;  height: calc(5vw + 1rem) ;
}
#naviBar, #naviA {
  width: 100%;
}
#naviA:after, #naviBar:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;  height: 3rem;
}
#naviA {
  grid-template-columns: auto 3.8rem auto 3.8rem auto;
  grid-template-rows: 2.2rem;
  bottom: 0;
  padding-top: 0.4rem;  padding-bottom: 0.4rem;
  height: auto;
}
#A1, #A3 {
  grid-template-columns: 1.5rem auto 2rem;
  line-height: 2.2rem;
}
#b2, #searchP {
  line-height: 2.2rem;
}
#XP {
  line-height: 2rem;
}
#searchCheckBox:checked+#searchP+#XP+#searchBoxIn, #searchCheckBox, #searchP, #searchCheckBox:checked+#searchP+#XP {
  display: none;
}
#searchCheckBox:checked+#searchP, #XP {
  display: inline-block;
}
.DroidBtn {
  overflow: hidden;
  position: relative;
  margin: .5rem;
  padding: .25rem;
  width: auto;
}
.DroidBtnH {
  /*line-height: 2.2rem;*/
  text-align: left;
  height: auto;
  min-width: 3rem;
}
.DroidBtnU {
  position: absolute;
}
.DroidBtnUIn {
  display: inline-block;
  margin: -.6rem;
  width: 2.5rem;  height: 2.5rem;
}
.contentWindow {
  overflow-y: auto;
  padding-top: 3rem;
  width: 16rem;  height: calc(100vh - 3rem) ;
}
.centerTitle, .textBtn {
  text-align: center;
  line-height: 3rem;
}
#infoBtnIn, #sideBtnIn {
  margin-top: 0.375rem;
}
@media screen and (max-device-width: 480px) {
  * {
    font-size: 56px;
  }
}